<script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@handsontable/angular/bundles/handsontable-angular.umd.min.js"></script>

<link href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css" rel="stylesheet">



<div>
    <hot-table
      class="hot"
      [data]="dataset"
      [colHeaders]="true"
      [minSpareRows]=1
      [rowHeaders]="true">
        <hot-column data="id" [readOnly]="true" title="ID" ></hot-column>
        <hot-column data="name" title="Car name" ></hot-column>
        <hot-column data="price" title="Price" type="numeric" ></hot-column>
    </hot-table>
</div>

