<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown login-wrap">
    <div class="mb-3 text-center">
        <div class="logo"><img src="/assets/img/epm-logo-admin.png" alt="emp" title="epm" class="img-fluid imglogo mb-2"></div>
        <h1 id="title" class="title">Login</h1>
        <p class="sub-title text-white small text-secondary">Hello! Log in with your email.</p>
    </div>
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div style="height: 30px;">
        </div>

        <!-- Login Form -->
        <form name="form" [formGroup]="form">
            <fieldset>
                <div class="form-group">
                    <input type="text" id="username" class="form-control fadeIn second" formControlName="userName"  name="username" placeholder="username">
                    <div *ngIf="form.get('userName')!.touched && form.get('userName')!.invalid">
                        <p>Username is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <input type="number" id="email" class="form-control fadeIn third" formControlName="email"  name="email" placeholder="email">
                    <div *ngIf="form.get('email')!.touched && form.get('email')!.invalid">
                        <p>email is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" id="firstName" class="form-control fadeIn third" formControlName="firstName"  name="firstName" placeholder="firstName">
                    <div *ngIf="form.get('firstName')!.touched && form.get('firstName')!.invalid">
                        <p>firstName is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" id="surName" class="form-control fadeIn third" formControlName="surName"  name="surName" placeholder="surName">
                    <div *ngIf="form.get('surName')!.touched && form.get('surName')!.invalid">
                        <p>surName is required</p>
                    </div>
                </div>

                <!-- <div class="form-group">
                    <select id="cars" name="cars">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="fiat">Fiat</option>
                        <option value="audi">Audi</option>
                    </select>
                </div> -->
                
                <div class="form-group">
                    <input type="password" id="password" class="form-control fadeIn third" formControlName="password"  name="password" placeholder="password">
                    <div *ngIf="form.get('password')!.touched && form.get('password')!.invalid">
                        <p>password is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" id="organizationName" class="form-control fadeIn third" formControlName="organizationName"  name="organizationName" placeholder="organizationName">
                    <div *ngIf="form.get('organizationName')!.touched && form.get('organizationName')!.invalid">
                        <p>organizationName is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" id="organizationAddress" class="form-control fadeIn third" formControlName="organizationAddress"  name="organizationAddress" placeholder="organizationAddress">
                    <div *ngIf="form.get('organizationAddress')!.touched && form.get('organizationAddress')!.invalid">
                        <p>organizationAddress is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" id="gstNumber" class="form-control fadeIn second" formControlName="gstNumber"  name="gstNumber" placeholder="gstNumber">
                    <div *ngIf="form.get('gstNumber')!.touched && form.get('gstNumber')!.invalid">
                        <p>gstNumber is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" id="panNumber" class="form-control fadeIn third" formControlName="panNumber"  name="panNumber" placeholder="panNumber">
                    <div *ngIf="form.get('panNumber')!.touched && form.get('panNumber')!.invalid">
                        <p>panNumber is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <input type="number" id="phoneNumber" class="form-control fadeIn third" formControlName="phoneNumber"  name="phoneNumber" placeholder="phoneNumber">
                    <div *ngIf="form.get('phoneNumber')!.touched && form.get('phoneNumber')!.invalid">
                        <p>phoneNumber is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" id="state" class="form-control fadeIn third" formControlName="state"  name="state" placeholder="state">
                    <div *ngIf="form.get('state')!.touched && form.get('state')!.invalid">
                        <p>state is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" id="roleName" class="form-control fadeIn third" formControlName="roleName"  name="roleName" placeholder="roleName">
                    <div *ngIf="form.get('roleName')!.touched && form.get('roleName')!.invalid">
                        <p>roleName is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" id="companyEmail" class="form-control fadeIn third" formControlName="companyEmail"  name="companyEmail" placeholder="companyEmail">
                    <div *ngIf="form.get('companyEmail')!.touched && form.get('companyEmail')!.invalid">
                        <p>companyEmail is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" id="pin" class="form-control fadeIn third" formControlName="pin"  name="pin" placeholder="pin">
                    <div *ngIf="form.get('pin')!.touched && form.get('pin')!.invalid">
                        <p>pin is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" id="country" class="form-control fadeIn third" formControlName="country"  name="country" placeholder="country">
                    <div *ngIf="form.get('country')!.touched && form.get('country')!.invalid">
                        <p>country is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" id="poolingStationId" class="form-control fadeIn third" formControlName="poolingStationId" name="poolingStationId" placeholder="poolingStationId">
                    <div *ngIf="form.get('poolingStationId')!.touched && form.get('poolingStationId')!.invalid">
                        <p>poolingStationId is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" id="areaId" class="form-control fadeIn third" formControlName="areaId"  name="areaId" placeholder="areaId">
                    <div *ngIf="form.get('areaId')!.touched && form.get('areaId')!.invalid">
                        <p>areaId is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" id="orginazationStateId" class="form-control fadeIn third" formControlName="orginazationStateId"  name="orginazationStateId" placeholder="orginazationStateId">
                    <div *ngIf="form.get('orginazationStateId')!.touched && form.get('orginazationStateId')!.invalid">
                        <p>orginazationStateId is required</p>
                    </div>
                </div>
                <div class="form-group mb-0 pb-0">
                    <input type="submit" class="fadeIn fourth" [disabled]="!form.valid" value="Add"  >
                </div>
            </fieldset>
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
        </div>

    </div>
</div>
